<div class="newest">
  <h3 class="banner">Newest Items</h3>
  <% @newest_products.each do |new_product| %>
  <div class="product"><a href="products/<%= new_product.id %>"><%= image_tag new_product.url %></a></div>
  <% end %>
</div>

<div class="reviewed">
  <h3 class="banner">Most reviewed</h3>
  <% @most_reviews.each do |product| %>
  <div class="product"><a href="products/<%= product.id %>"><%= image_tag product.url %></a></div>
  <% end %>
</div>
<br>
<br>
<p> LoveJoy Active is your new favorite one-stop shop for pole dancing and active apparel. All brands and clothing in our store are hand picked to build confidence, comfort, and strength. You can count on us to put together the perfect closet for you and give nothing, but trendy and stydivsh options. All you need to do is pull out the wine and get ready to shop.</p>


<p>We are also all ears if you can’t find something in our store. Don’t hesitate to let us know.</p>

<h4><%= link_to "Shop All", products_path %></h4>
