<h3>Newest Items</h3>
<% @newest_products.each do |new_product| %>
 <li><a href="products/<%= new_product.id %>"><%= new_product.name %></a></li>
 <% end %>

<h3>Most reviewed</h3>
<% @most_reviews.each do |product| %>
 <li><a href="products/<%= product.id %>"><%= product.name %></a></li>
<% end %>
<br>
<br>
<p> about us gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock gobbldy goock </p>

<h4><%= link_to "Shop All", products_path %></h4>
